.Palette {
  height: 95vh;
  width: 100vw;
}
.Palette-colors {
  height: 90%;
}

.Palette-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #fff;
  height: 5vh;
  font-weight: bold;
}
.emoji {
  font-size: 1.5rem;
  margin: 0 1rem;
}
